#don{
    background-color: blue;
    color: red;
}
#don2{
    background-color: red;
    color: blue;
}
#don3{
    background-color: orange;
    color: red;
}
#home{
    background-color: black;
    color: azure;
}