<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/1.jpeg" class="card-img-top" alt="...">
        <div class="card-body1">
          <h5 class="card-title1">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-danger">Login</a>
        </div>
      </div>
      <br>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/2.jpeg" class="card-img-top" alt="...">
        <div class="card-body2">
          <h5 class="card-title2">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-danger">Login</a>
        </div>
      </div>
      <br>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/3.jpeg" class="card-img-top" alt="...">
        <div class="card-body3">
          <h5 class="card-title3">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-danger">Login</a>
        </div>
      </div>
      <br>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/4.jpeg" class="card-img-top" alt="...">
        <div class="card-body4">
          <h5 class="card-title4">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-danger">Login</a>
        </div>
      </div>
      <br>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/5.jpeg" class="card-img-top" alt="...">
        <div class="card-body5">
          <h5 class="card-title5">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-danger">Login</a>
        </div>
      </div>
      <br>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/6.jpeg" class="card-img-top" alt="...">
        <div class="card-body6">
          <h5 class="card-title6">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-danger">Login</a>
        </div>
      </div>
</div>