.container{
    background-image: url(../../../assets/images/7.jpeg);
}


.card-body1{
    background-color: olivedrab;
    background-image: none;
}
.card-body2{
    background-color: orchid;
    background-image: none;
}
.card-body3{
    background-color: yellow;
    background-image: none;
}
.card-body4{
    background-color: gold;
    background-image: none;
}
.card-body5{
    background-color: springgreen;
    background-image: none;
}
.card-body6{
    background-color: teal;
    background-image: none;
}

h5 p a{
    align-items: center;
    justify-items: center;
}