
.card-title1{
    text-decoration: none;
    color: rgb(8, 7, 7);
    font-weight: bold;
    font-style:oblique;
    justify-content: center;
    align-items: center;
    display: inline;
    position:relative;
}

.card-text{
    text-transform: uppercase;
    text-decoration:double;
    color: goldenrod;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    justify-content: center;
    align-items: center;
}


.btn{
    color: black;
    background-color: white;
    justify-content: center;
    display:flow-root;
    align-items: center;
}
.btn:hover{
    color: black;
    background-color: orange;
}
