*{
    font-family: montserrat;
}
body{
    background: f1fbff;
} 
.section-padding{
    padding: 100px 0;
}
.carousal-item{
    height: 100vh;
    min-height: 300px;
}
.carousal-caption{
    bottom: 200px;
    z-index: 2;
}
.carousal-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousal-caption p{
    width: 60%;
    margin:auto;
    font-size: 18px;
    line-height: 1.9;
}