<div class="container">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <br>
    <div  class="row">
        <app-button></app-button>
    </div>
    <br>
    <div class="row">
        <app-spinners></app-spinners>
    </div>
    <br>
    <div class="row">
        <app-badges></app-badges>
    </div>
    <br>
    <div class="row">
        <app-carousels></app-carousels>
    </div>
    <br>
     <div class="row">
        <div class="col"><app-cards></app-cards></div>
        <br>
        <div class="col"><app-cards></app-cards></div>
        <br>
        <div class="col"><app-cards></app-cards></div>
     </div>
</div>



