---------------------------------STORE PAGE--------------------------- 
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://wallpaper.dog/large/20563667.jpg);
    background-size: cover;
    background-position: center;
}

.nav {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:transparent;
}

.logo{
    width: 140px;
    cursor: pointer;
}

.nav ul li {
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    justify-content: right;
    display: inline-block;
    position: relative;
    margin: 0 15px;
    padding: 10px;
    color: #fff;
    font-family: 'Rubik Vinyl', cursive;
}

.nav ul li:hover {
    color: yellow;
    transition: 0.5s;
}

.card {
    width: 300px;
    height: 350px;
    margin-left: 58px;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.card-title {
    color: #fff;
    font-family: 'Courier New';
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-title:hover {
    color: orangered;
    transition: 0.5s;
}

.btn {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: italic;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 15%;
}

.btn:hover {
    color: black;
    border: 2px solid black;
    background-color: #fff;
    transition: 0.6s;
}


-------------------FOOTER-------------------- * {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer {
    margin-top: 10px;
    width: 100%;
    padding: 100px;
    margin: 5px;
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}


.footer div h3 {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    display: flex;
    text-transform: capitalize;
    font-family: 'Lobster', cursive;
}
.footer div h3:hover{
    color: orangered;
    transition: 0.5s;
}

.col-1 a {
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 30px;
    list-style: none;
    display: flex;
    position: relative;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Style Script', cursive;

}

.col-2 a {
    font-size: 20px;
    display: block;
    position: relative;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Style Script', cursive;
}

form input {
    background: transparent;
    width: 350px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 40px;
    margin: 15px 15px;
    align-items: center;
    color: #fff;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
}
form input:hover{
    color: white;
    background-color: orangered;
    transition: 0.5s;
}

form button{
    background: black;
    width: 100px;
    height: 40px;
    margin-left: 60px;
    padding: 0px 10px;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    outline: none;
    color: #fff;
}
form button:hover{
    color: #fff;
    background-color: aqua;
    transition: 0.5s;
}

